@import url('https://fonts.googleapis.com/css?family=Inter:400');


html {
    font-size: 100%;
    height: 100% !important;
} /*16px*/

body {
  background: #E6F6FA !important;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  line-height: 1.75;
  color: #000000;
  margin: 0;
  height: 100%;
}


/* ++++++++++++++++++++++++++++++BOTONES++++++++++++++++++++++++++++++++++ */

.btn_primary{
    background-color: #0E323D !important;
    color: #E6F6FA !important;
    padding: 8px 16px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border: 0 !important;
    border-radius: 0.625rem !important;
}
.btn_secondary{
    background-color: #E6F6FA !important;
    color: #0E323D !important;
    padding: 8px 16px !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    border: 0.5 !important;
    border-radius: 0.625rem !important;
    border: solid 1px #0E323D !important;
}
.btn_lg{
    min-width: 300px !important;
}
.btn_md{
    min-width: 225px !important;
}
.btn_sm{
    min-width: 150px !important;
}
.btn_xs{
    min-width: 110px !important;
}

/* ++++++++++++++++++++++++++++++COLORES++++++++++++++++++++++++++++++++++ */

.color_primary{
    background-color: #0E323D !important;
    color: #E6F6FA !important;
    border-radius: 10px !important;
    padding: 10px;
}
.color_secondary{
    background-color: #E6F6FA !important;
    color: #0E323D !important;
    border-radius: 10px !important;
    padding: 10px;
    border: solid 1px #0E323D !important;
}
.red_accent{
    background-color: #ED3517 !important;
    color: #fefefe !important;
    border-radius: 10px !important;
    padding: 10px;
}
.bg_primary{
    background-color: #0E323D !important;
}
.bg_secondary{
    background-color: #E6F6FA !important;
}
.bg_red_accent{
    background-color: #ED3517 !important;
}
/*+++++++++++++++++++++++++++++++NAV++++++++++++++++++++++++++++++++++++++*/

nav{
    height: 96px;
    width: 100%;
}
.hlogo{
    position: absolute;
    padding: 1rem;
}
.hlogo img{
    max-height: 60px;
}
.usuario{
    margin-right: 2rem !important;
    height: 96px;
}
.hm{
    display: flex;
    justify-content: flex-start;
    display: none;
}
.hmenu{
    background: none;
    border: 0;
    color: #fff;
    font-size: 2rem;
    display:none;
}
.logo{
    display: flex;
    justify-content: flex-start;
}
.usuario{
    display: flex;
    justify-content: flex-end;
}

/* ++++++++++++++++++++++++++++++CONTAINERS++++++++++++++++++++++++++++++++++ */

#header{
    height: 96px;
    display: block;
    padding: 0;
    background-color: #0E323D;
    color: #fefefe;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
}
.content{
    position: absolute;
    top: 96px;
    width: 100%;
    padding: 16px 24px;
}
.main{
    position: absolute;
    left: 20%;
    width: 80%;
    height: auto;
    padding: 1.5rem;
}
.login{
    width: 100vw;
    height: 100vh;
    background-image: url('../imagenes/Login.jpg');
    background-size: cover;
}
.loginContainer{
    width: 100%;
    height: 500px;
}

/*++++++++++++++++++++++SIDEBAR+++++++++++++++++++++++++++++++++++++*/
#mySidebar{
    height: 100vh;
    z-index: 2;
}
.side-bar{
    position: fixed;
    left: 0;
    width: 20%;
    background-color: #FFFF;
    box-shadow: 12px 8px 20px 0 rgba(0, 0, 0, 0.1), 12px 8px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 0;
    height: 100%;
}

.back-home{
    background-color: #E6F6FA;
    min-height: 80px;
    width: 100%;
    border-bottom: solid 1px #ED3517;
    padding: 24px !important;
}
.back-home .bi-chevron-left::before{
    font-size: 20px !important;
    font-weight: bold !important;
    vertical-align: middle !important;
}
.side-menu .bi-chevron-right{
    margin-left: auto;
}
.back-home span{
    vertical-align: middle !important;
}
.side-menu {
    padding: 0 1.5rem 2.5rem 2rem !important;
}
.side-menu ul {
    padding-left: 0 !important;
}
.side-menu ul li{
    display: flex;
    margin: 2.5rem 0 !important;
}
.side-menu ul li img{
    display: flex;
    margin: 0 0.5rem;
}
.side-menu ul a{
   text-decoration: none !important;
   color: #0E323D;
}
.side-menu ul a:hover{
    text-decoration: none !important;
    color: #ED3517 !important;
 }
 .back-home a{
    text-decoration: none !important;
   color: #0E323D;
 }
 .back-home a:hover{
    text-decoration: none !important;
    color: #0C6C89 !important;
 }

/*++++++++++++++FORMS++++++++++++++++++++++*/

.signin{
    background-color: #ffffff;
    width: 450px;
    border-radius: 10px;
}
.form-group{
    margin-bottom: 2rem;
}
.form-control{
    border-radius: .5rem !important;
    border:1px solid #0C6C89 !important;
}

/*++++++++++++++++++++Empresa+++++++++++++++++++*/

.empresa-card{
    background-color: #ffffff;
    border-radius: .65rem;
    border-bottom: .5rem solid #0E323D;
    height: 280px;
    width: 220px;
    display: grid;
    justify-items: center;
    margin-bottom: 2rem;
}
.empresa-card a{
    text-decoration: none;
    color: #0E323D;
}
.empresa-card a:hover{
    text-decoration: none;
    color: #ED3517;
}
.empresa{
    padding: 2rem;
}
.dashBG{
    height: 100vh;
    width: 100vw;
    background-image: url(../imagenes/empresa-bg.svg);
    background-size: cover;
}

/*++++++++++++++++++++DashCard+++++++++++++++++++*/
.cardDashboard{
    display: grid;
    align-items: center;
    /*width: 300px;*/
    height: 220px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
}
.card-dash-tit{
    font-size: 1.5rem;
}
/*++++++++++++++++++CardColaborador++++++++++++++++++++**/
.cardColaborador{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 320px;
    height: 95px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
}
.kebab{
    display: grid;
    align-self: baseline;
}
.kebab button{
    background-color: transparent;
    border: none;
}
/*++++++++++++++++++++CardColaboradorPerfil++++++++++++++++++++++++++*/
.cardColaboradorPerfil{
    display: flex;
    width: 100%;
    height: 152px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    margin-bottom: 1.5rem;
}
.infoPerfil{
    display: contents;
}
/*++++++++++++++++++++CardCIncidencias++++++++++++++++++++++++++*/
.cardIncidencias{
    display: flex;
    width: 31%;
    height: 275px;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 1.25rem;
    margin-right: 1.5rem;
    margin-bottom: 1.5rem;
}
.incidenciasContent{
    width: 100%;
    display: contents;
}
.dias{
    width: 100px;
    height: 100px;
    background-color: #0E323D;
    padding: 2rem;
    color: #E6F6FA;
    border-radius: 5rem;
}
/*+++++++++++++++++++paginador++++++++++++++++++++++++++*/
.page-link{
    position: inherit !important;
    border-radius: 2rem !important;
    background-color: transparent !important;
    color: #0E323D !important;
    border: none !important;
    margin: 5px !important;
}

/*++++++++++++++++++Buscador+++++++++++++++++++++++++++*/
#buscador .form-inline{
    display: flex;
}
/*+++++++++++++++++colaboradores+++++++++++++++*/
.buscador{
    display: block;
    width: 78%;
}
/*++++++++++++Incidencias+++++++++++++++++++++*/
#incidencias .buscador{
    display: block;
    width: 100%;
}
#incidencias a{
    text-decoration: none;
    color: inherit;
}
#incidencias a:hover{
    color: #ED3517;
}

/*++++++++++++++++++++++Filtros++++++++++++++++++++++++++++++++++++**/
#filtrosNomina{
    
}
#filtrosNomina select{
    width: 220px;
    margin: 0 .5rem;
    height: 45px;
}
#filtrosNomina select, #faltas select, #faltasd select{
    background: #ffffff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='black' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px !important;
  }
#nominaDatos th{
    background-color: transparent;
  }
#nominaDatos td{
    background-color: transparent;
  }
#nominaDatos thead{
    background-color: #ffffff;
  }
#faltas{
    width: 30%;
    margin-right: 1rem;
}
#faltasd{
    width: 30%;
    margin-right: 1rem;
}
#descuentos{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    justify-content: center;
}
.incidnciaDetalle{
    background-color: #FFFFFF;
    border-radius: 1rem;
    padding: 1rem;
}
#incidenciasDatos .bg-dias{
    background-color: #F0F9FC;
    border: 4px solid #fff;

}
#incidenciasDatos .txt_l{
    text-align: left !important;
}

